@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* texto */
    --font-color: #000;
    --font-color-inverted: #fff;
    /* texto em fundos escuros */

    /* fundos */
    --bg-color: #f1f1f1;
    --circle-bg: #f1f1f1;
    --profile-border: #fff;
    --footer-color: #000;

    /* icones redes sociais */
    --social-links-background: rgb(228, 228, 228);
    --social-links-background-hover: rgb(202, 202, 202);

    /* botões redes sociais */
    --btn-link-shadow: 0 1px 5px 0px rgba(29, 29, 29, 0.63);
    --btn-link-background: linear-gradient(0deg, rgb(202, 202, 202) 0%, rgb(255, 255, 255) 100%);
    --btn-link-hover-background: linear-gradient(0deg, rgb(184, 184, 184) 0%, rgb(231, 231, 231) 100%);

}

/* dark mode variaveis */
.dark-mode {
    /* texto */
    --font-color: #fff;
    --font-color-inverted: #000;

    /* fundo */
    --bg-color: #1a1a1a;
    --circle-bg: #1a1a1a;
    --profile-border: #1a1a1a;
    --footer-color: #fff;

    /* icones redes sociais */
    --social-links-background: #000;
    --social-links-background-hover: #1a1a1a;

    /* botões redes sociais */
    --btn-link-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.63);
    --btn-link-background: linear-gradient(0deg, rgb(83, 83, 83) 0%, rgba(0, 0, 0, 1) 100%);
    --btn-link-hover-background: linear-gradient(0deg, rgb(49, 49, 49) 0%, rgb(0, 0, 0) 100%);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    display: flex;
    flex-direction: column;
    width: 100dw;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

/* --header-- */

header {
    max-width: 100vw;
    width: 100%;
    height: 220px;
    position: relative;
}

.banner {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    height: 100%;
    position: relative;
}

.circle {
    background-color: var(--circle-bg);
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    border-radius: 100% 100% 0 0;
    transition: background-color 0.3s ease;
}

.theme-toggle {
    background-color: rgb(95, 228, 255);
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 17px;
    top: 15px;
    color: var(--font-color-inverted);
}

.theme-toggle .dark-icon {
    display: none;
}

.theme-toggle:hover {
    background-color: rgb(120, 228, 255);
}

.profile-photo {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-photo img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 6px solid var(--profile-border);
    object-fit: cover;
    object-fit: cover;
    transition: border-color 0.3s ease;
}

/* --fim do header-- */


/* nome e descrição */

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 25px;
}

.name-description {
    align-items: center;
    text-align: center;
}

.name-description p {
    max-width: 420px;
}


/* links */

.social-links {
    display: flex;
    gap: 20px;
}

.social-links a {
    padding: 8px;
    background-color: var(--social-links-background);
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.social-links a:hover {
    background-color: var(--social-links-background-hover);
    transform: scale(1.05);
}

.social-links i {
    color: var(--font-color);
    font-size: 1.3rem;
}


/* botões redes sociais */

.btns-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 15px;
}

.btn-link,
#btn-contact-form {
    border-radius: 8px;
    max-width: 420px;
    width: 100%;
    padding: 15px 20px;
}

.btn-link {
    display: flex;
    justify-content: space-between;
    box-shadow: var(--btn-link-shadow);
    background: var(--btn-link-background);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn-link:hover {
    background: var(--btn-link-hover-background);
    transform: scale(1.008);
}

.btn-link i {
    color: var(--font-color);
    font-size: 1.1rem;
}

.btn-link-name span {
    font-size: 1.1rem;
    color: var(--font-color);
    margin-left: 8px;
}

/* botão de contato */

#btn-contact-form {
    background: #3b3559;
    background: linear-gradient(90deg, rgb(53, 61, 89) 0%, rgba(60, 60, 199, 1) 35%, rgb(45, 150, 173) 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-size: 1.1rem;
}

#btn-contact-form:hover {
    background: linear-gradient(90deg, rgb(42, 48, 70) 0%, rgb(53, 53, 179) 35%, rgb(38, 128, 148) 100%);
}

#btn-contact-form i {
    font-size: 1.1rem
}


/* modal formulario de contato */
.modal {
    /* position: fixed; */
    z-index: 1;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.164);
    width: 100%;
    height: 100%;
}

.modal-conteudo {
    background-color: var(--bg-color);
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.fechar {
    color: #ff3f3f;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar:hover {
  color: #bb2727;
}

#form-contact {
    display: flex;
    flex-direction: column;
}

.input-contact-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.input-contact-form input, textarea {
    padding: 7px 13px;
    border-radius: 8px 8px 0 0;
    outline: none;
    border: 2px solid transparent;
    border-bottom: 2px solid rgb(53, 53, 179);
    background-color: var(--bg-color);
    transition: .3s ease-in-out;
}

.input-contact-form input:focus, textarea:focus {
    border-radius: 8px;
    border: 2px solid rgb(53, 53, 179);
}

.input-contact-form textarea {
    max-width: 443px;
    width: 100%;
}

#btn-submit-form {
    background: linear-gradient(90deg, rgb(53, 61, 89) 0%, rgba(60, 60, 199, 1) 35%, rgb(45, 150, 173) 100%);
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 8px 13px;
    border-radius: 8px;
    margin-top: 25px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

#btn-submit-form:hover {
    background: linear-gradient(90deg, rgb(42, 48, 70) 0%, rgb(53, 53, 179) 35%, rgb(38, 128, 148) 100%);
}


/* footer */
footer {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--footer-color);
    transition: color 0.3s ease;
}

footer span {
    font-weight: 550;
}

